<mat-toolbar>
  <a routerLink="/" class="brand">
    {{ 'Header.Brand' | translate }}
  </a>
  <span class="spacer"></span>

  <nav class="nav-desktop" aria-label="Navigazione principale">
    @for (link of navLinks; track link.path) {
      <a
        routerLinkActive="active"
        matButton="text"
        [routerLink]="link.path"
        [routerLinkActiveOptions]="{ exact: link.exact ?? false }"
        >{{ 'Header.Nav.' + link.id | translate }}</a
      >
    }
  </nav>

  <button
    type="button"
    matIconButton
    [attr.aria-label]="
      isDark()
        ? ('Header.Actions.Theme.Light' | translate)
        : ('Header.Actions.Theme.Dark' | translate)
    "
    (click)="toggleTheme()"
  >
    <mat-icon [fontIcon]="isDark() ? 'light_mode' : 'dark_mode'" />
  </button>

  <button
    type="button"
    matIconButton
    class="btn-hamburger"
    [attr.aria-label]="'Header.Actions.Menu.Open' | translate"
    (click)="toggleMobileMenu()"
  >
    <mat-icon>{{ mobileMenuOpen() ? 'close' : 'menu' }}</mat-icon>
  </button>
</mat-toolbar>

<div class="mobile-menu" [class.open]="mobileMenuOpen()">
  @for (link of navLinks; track link.path) {
    <a
      routerLinkActive="active"
      matButton="text"
      [routerLink]="link.path"
      [routerLinkActiveOptions]="{ exact: link.exact ?? false }"
      (click)="closeMobileMenu()"
      >{{ 'Header.Nav.' + link.id | translate }}</a
    >
  }
</div>
